@media (max-width: 991px) {
  :root {
    --scale: 2;
  }
  .hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .header__logo {
    width: 140px;
    height: 42px;
  }
}
@media (max-width: 767px) {
  :root {
    --scale: 1.5;
  }
  .our-misson__content {
    padding: 256px 24px 40px;
  }
  .our-misson__title--sub {
    font-size: 24px;
    line-height: 1;
    padding-left: 48px;
  }
  .our-misson__title--main {
    font-size: 40px;
    margin-bottom: 0;
  }
  .our-misson__description {
    font-size: 20px;
    line-height: 28px;
  }
  .our-misson__title {
    margin-bottom: 40px;
  }
  .our-mission {
    background-position: -75% center;
  }
  section.section-image {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
  }
  section.our-family .our-family__sub {
    padding-left: 45px;
  }
  section.our-family .our-family__list {
    grid-template-columns: 1fr;
  }
  section.section-quote .quote-wrapper {
    padding: 80px 35px;
  }
  section.section-quote .text {
    font-size: 20px;
    line-height: 26px;
  }
  section.section-quote .author {
    font-size: 16px;
    line-height: 24px;
  }

  section.our-family .our-family__list .list-item .content{
    width: 80%;
    transform: none;
    padding-bottom: 60px;
  }

  section.our-family .our-family__list .list-item .desc{
    margin-top: 16px;
  }

  section.our-family .our-family__list .list-item{
    align-items: flex-end;
  }

  .hero__img img{
    height: 100%;
    object-fit: cover;
  }
}
