section.section-quote {
  background-color: #1c214f;
}

section.section-quote .text {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: white;
  padding: 56px 0;
  position: relative;
}

section.section-quote .text .line {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgb(37, 37, 37) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

section.section-quote .author {
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  font-weight: 500;
}

section.section-quote .text svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 34px;
}

section.section-quote .text svg.close {
  bottom: 0;
  right: 0;
  top: unset;
  left: unset;
}

section.section-quote .quote-wrapper {
  max-width: 730px;
  margin: 0 auto;
  padding: 180px 0;
  text-align: center;
}

/* section image */
section.section-image {
  height: 100vh;
}

section.section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}
/* section our family */
section.our-family{
    background-color: #7a90c9;
}

section.our-family .our-family__sub{
    padding-left: 80px;
}

section.our-family .our-family__title{
    padding: 64px 0;
    width: max-content;
    margin: 0 auto;
}

section.our-family .our-family__list{
    padding: 0;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.our-family .our-family__list .list-item{
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

section.our-family .our-family__list .list-item .content{
    width: 60%;
    text-align: center;
    color: #FFF;
    position: relative;
    z-index: 2;
}

section.our-family .our-family__list .list-item .title{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    font-family: var(--font-heading);
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.4s ease;
}

section.our-family .our-family__list .list-item .desc{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--font-body);
    margin-top: 24px;
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.4s ease;
    transition-delay: 0s;
}

section.our-family .our-family__list .list-item:hover .title,
section.our-family .our-family__list .list-item:hover .desc{
    opacity: 1;
    transform: translate(0);
}

section.our-family .our-family__list .list-item:hover .desc{
    transition-delay: 0.2s;
}

section.our-family .our-family__list .list-item .background-image{
    position: absolute;
    inset: 0;
}

section.our-family .our-family__list .list-item .background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

section.our-family .our-family__list .list-item::after{
    content: "";
    background-color: rgb(28, 33, 79, 0.5);
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: width 0.6s, height 0.6s, opacity 0.6s;
    transition-delay: opacity 0.6s;
}

section.our-family .our-family__list .list-item:hover::after{
    width: 300%;
    height: 300%;
    opacity: 1;
    transition: width 0.6s, height 0.6s;
    transition-delay: opacity 0s;
}

/* footer */

footer {
  padding: 210px 80px 20px;
  background-color: #ff5465;
}

footer p {
  margin: 0;
}

footer .footer-bottom .copyright,
footer .footer-bottom .alpha {
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1.6px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-heading);
}

footer .footer-bottom {
  margin-top: 50px;
}
footer .footer-top {
  gap: 80px;
  position: relative;
  z-index: 3;
  background-color: #ff5465;
}

footer .footer-top .title-text {
  font-size: 110px;
  line-height: 90px;
  color: #1c214f;
  font-weight: 900;
  width: max-content;
  text-transform: uppercase;
  margin-right: 100px;
  font-family: var(--font-body);
}

footer .footer-top {
  display: flex;
  align-items: flex-start;
}

footer .footer-top ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding-left: 0;
}

footer .footer-top a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #1c214f;
  transition: all 0.4s ease;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 4%;
  font-weight: 700;
  font-family: var(--font-heading);
}

footer .footer-top a svg path {
  transition: all 0.4s ease;
}

footer .footer-top a:hover {
  color: #fff;
}

footer .footer-top a:hover svg path {
  fill: #fff;
}
